body{
    margin: 0;
    padding: 0;
}
header{
    height: 65px;
    width: 100%;
    background: #22282d;
    display: flex;
    justify-content: space-between;
}
header .headerlogo{
    max-width: 130px;
    margin: 20px 0 20px 40px;
    padding: 0;
    box-sizing: border-box;
}
header .headerlogo img{
    height: 100%;
    line-height: 45px;
}
header .headernav ul{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
header .headernav ul li a{
    display: inline-block;
    margin: 0 30px;
    line-height: 65px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
}
header .headernav ul li a::after{
    content: "";
    display: block;
    height: 1px;
    background: orangered;
    position: absolute;
    bottom: 0;
}
header .headernav ul li a:hover::after{
    content: "";
    display: block;
    height: 1px;
    background: orangered;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 4s;
}
header .headerItem .iconfont{
    background: #ffffff;
    font-size: 30px;
}
header .phone{
    margin-right: 40px;
}
header .phone span{
    line-height: 65px;
    color: white;
    font-size: 20px;
}



.banner{
    height: 500px;
    background: url("../imgs/website1background.jpg");
    background-size: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 30px 90px;
    align-items: center;
    justify-content: space-between;
}
.bannerItem h1{
    font-size: 48px;
    font-weight: bold;
    color: #cacaca;
    margin-bottom: 20px;
}
.bannerItem h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.bannerItem .freeSpan{
    display: inline-block;
    width: 170px;
    height: 50px;
    background: orangered;
    color: white;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.banner .bannerImg{
    float: right;
}


.fuwu{
    width: 100%;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
    background: #cacaca;
    display: flex;
    justify-content: space-between;
}
.fuwu .fuwuItem{
    width: 23%;
    text-align: center;
}
.fuwuImg{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 0;
    box-sizing: border-box;
}
.fuwuItem span{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}


.youshi{
    width: 100%;
    padding: 100px 10%;
    box-sizing: border-box;
    background: #f9f9f9;
}
.youshi .youshiTitle{
    text-align: center;
    font-size: 30px;
}
.youshi p{
    text-align: center;
    font-size: 16px;
    margin: 30px 0;
}
.youshiRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.youshiRowItem{
    width: 30%;
    border: 1px solid rgba(255, 139, 23, 0.9);
    border-radius: 20px;
    text-align: center;
    padding: 50px 15px 20px;
    box-sizing: border-box;
    font-size: 20px;
    color: orangered;
    transition: all .2s;
}
.youshiRowItemImg{
    margin-bottom: 20px;
}
.youshiRowItem p{
    color: black;
    font-size: 14px;
    line-height: 24px;
}
.youshiRowItem:hover{
    background: #ffffff;
    border: 1px solid #f94300;
}

.why{
    width: 100%;
    padding: 100px 10%;
    box-sizing: border-box;
    background: #f9f9f9;
}
.whtContentP{
    margin: 20px 0;
}
.whyBtn{
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.whyBtn span{
    display: inline-block;
    width: 130px;
    height: 40px;
    background: orangered;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border-radius: 30px;
}
.whyContent{
    display: flex;
    justify-content: space-between;
}
.whyContent .left{
}
.whyContent .left .hTitle{
    font-size: 24px;
    line-height: 120px;
}
.whyContent .left .hTitle span{
    color: orangered;
}
.why .whyContent .whyContentBtn{
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    line-height: 40px;
    font-size: 16px;
    background: orangered;
    color: white;
}

.shiyong{
    box-sizing: border-box;
    width: 100%;
    padding: 40px 150px;
    background: #22282d;
    display: flex;
    justify-content: space-between;
}
.shiyong p{
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 16px;

}
.sybtn{
    display: inline-block;
    height: 40px;
    padding: 0 40px;
    border-radius: 20px;
    line-height: 40px;
    font-size: 18px;
    background: orangered;
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
    transition: all .1s;
}
.sybtn:hover{
    background: transparent;
    border: 1px solid orangered;
    color: orangered;
}



footer{
    box-sizing: border-box;
    width: 100%;
    padding: 50px 60px 50px ;
    background:  #32383d;
}
.footerDiv{
    display: flex;
    justify-content: space-between;
}
.footerItem{
    padding-right: 30px;
    flex: 1;
    font-size: 12px;
    color: #96968c;
    letter-spacing: 2px;
    line-height: 22px;
}
.footerItem h3{
    font-size: 18px;
    font-weight: bold;
    color: #bdbdb3;
    margin: 20px 0;
}
.footerItem ul li{
    display: block;
}
.copyRight{
    text-align: center;
    color: #96968c;
    margin-top: 30px;
}